---
type: component
contextData: rte-bp
layout: "lyt-docs"
scssFiles:
- _c-rte.scss
---
<div class="c-rte{{#if settings.rteContextClass}}--{{settings.rteContextClass}}{{else}}--default{{/if}}{{#if settings.rteClasses}} {{settings.rteClasses}}{{/if}}" data-css="c-rte">
	{{#if content.rteMd}}
		{{{markdown content.rteMd}}}
	{{/if}}

	{{#if content.rtes}}
		{{#each content.rtes}}
			{{{markdown content.rteMd}}}
		{{/each}}
	{{/if}}
</div>